{{if .Params.series}}
  {{ $name := index .Params.series 0 }}
  <div class="alert alert-info" role="alert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">This post is part of the <a href="{{.Site.BaseURL}}/series/{{$name | urlize}}/">{{$name}}</a> series.</span>
              <div class="alert-actions">
                <ol>
                {{ range $ind,$art := ($.Site.Pages.ByDate).Reverse }}
                {{ if $art.Params.series }}
                {{ if eq (index $art.Params.series 0) $name }}
                  <li>
                  {{ if eq $art.Permalink $.Page.Permalink}}
                    {{ $art.Params.title }}
                    {{ else }}
                      <a href="{{ $art.Permalink }}">{{ $art.Params.title }}</a>
                    {{ end }}
                    </li>
                  {{ end }}
                {{ end }}
                {{ end }}
                </ol>
              </div>
          </div>
      </div>
  </div>
{{end}}