.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.3em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0em 0.5em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}


/* Non solid icons get a stroke */

.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}


/* Solid icons get a fill */

.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}

.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
    background-color: #FB6200
}

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
    background-color: #c23321;
    border-color: #c23321;
}

.resp-sharing-button--tumblr {
    background-color: #35465C;
    border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
    background-color: #222d3c;
    border-color: #222d3c;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}

.resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
    background-color: #3a80c1;
    border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}

.resp-sharing-button--telegram {
    background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
    background-color: #4B97D1;
}

.img-author {
    float: left;
    border-radius: 50%;
    max-height: 50px !important;
    max-width: 50px !important;
    margin-right: 20px;
}

.clarityAuthorProfile {
    float: left;
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    margin-right: 20px;
}

.clr-card-featured-image {
    float: left;
    max-height: 100px !important;
    max-width: 50% !important;
    padding-right: 15px;
    padding-bottom: 5px;
}

.clr-card-authors {
    width: 100%;
    color: gray;
}

.clarity-content-image img,
.content-area img {
    max-width: 100%;
    max-height: 400px;
}

.clr-post-featured-image {
    float: left;
    max-height: 100px !important;
    max-width: 100%;
    margin-top: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.clr-nav-previous {
    float: left;
}

.clr-nav-next {
    float: right;
}

.clarity-prev-next {
    margin-top: 30px;
    margin-bottom: 20px;
}

.clarity-content-image-left img {
    float: left;
    max-width: 50%;
    max-height: 100px;
    padding-right: 20px;
    padding-bottom: 5px;
}

nav.subnav {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    nav.sidenav {
        display: none;
    }
    form#search.search {
        display: none;
    }
    nav.header-nav {
        display: none;
    }
    nav.subnav {
        display: block;
    }
}

ul.pagination {
    list-style: none;
}

li.pagination__item {
    display: inline-block;
}

table {
    border-collapse: separate;
    border: 1px solid #485764;
    border-radius: 0.125rem;
    background-color: #22343c;
    color: #adbbc4;
    margin: 0;
    margin-top: 1rem;
    max-width: 100%;
}

td,
th {
    font-size: 0.541667rem;
    line-height: 0.5833334rem;
    border-top: 1px solid #485764;
    padding: 0.45833333rem 0.5rem 0.45833333rem;
    text-align: center;
    vertical-align: top;
    text-align: left;
}

th {
    color: #e9ecef;
    font-size: 0.458333rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    background-color: #1b2a32;
    vertical-align: bottom;
    border-bottom: 1px solid #485764;
    border-top: 0 none;
}

a.clr-tags {
    color: #666666;
}

a.clr-tags:hover {
    color: #999999;
}

.clr-content-image-wrap {
    display: inline-block;
    border: 1px solid #485764;
    border-radius: 0.125rem;
    background-color: #22343c;
    color: #adbbc4;
    margin-top: 1rem;
    padding: 10px;
    width: auto;
}

.clr-caption {
    padding-top: 5px;
    padding-bottom: 0px;
}

blockquote {
    border-left: 10px solid #61717D;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

code {
    color: white !important;
    font-weight: bold;
}