{{ partial "html-head.html" . }}
<div class="content-container">
  <div class="content-area">
      {{ partial "bloc/content/h1-title.html" . }}
      {{ partial "bloc/content/metas.html" . }}
      {{ partial "bloc/content/clarity-series-link.html" . }}
      {{ partial "bloc/content/content.html" . }}
      {{ partial "bloc/content/sharing.html" . }}
      {{ partial "modules/disqus.html" . }}
      {{ partial "bloc/content/clarity-prev-next.html" . }}
  </div><!-- /.content-area -->
  <div class="content-area">
  {{ if .Site.Params.clarityNavSidebar }}
  </div>
  {{ partial "bloc/content/clarity-navigation.html" . }}
  {{ end }}
</div><!-- /.content-container -->
{{ partial "html-foot.html" . }}
