{{ if .Site.Params.claritySiteInfoText }}
<div class="alert alert-app-level alert-info" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <div class="alert-text">
                {{ .Site.Params.claritySiteInfoText }}
            </div>
        </div>
    </div>
</div>
{{ end }}
<header class="header-{{ .Site.Params.clarityHeaderColour }}">
    <!-- <button class="header-hamburger-trigger" type="button"><span></span></button> -->
    <div class="branding">
    {{ if and ( ne .Site.Title "" ) ( eq .Site.Params.BrandImage "" )}}
    <a class="nav-link" href="{{ .Site.BaseURL | relLangURL}}">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">{{ .Site.Title }}</span>
      {{ end }}

    {{ if ( ne .Site.Params.BrandImage "" ) }}
    <a class="navbar-brand-img" href="{{ .Site.BaseURL | relLangURL}}">
      <img alt="{{ .Site.Params.brand }}" src="{{ .Site.Params.clarityHeaderImage }}">
      <span class="title">{{ .Site.Title }}</span>
      {{ end }}
    </a>  
  </div>
  <nav class="header-nav">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
        <a class="nav-link {{if $currentNode.IsMenuCurrent "main" . }}active{{end}} nav-text" href="{{ .URL | absLangURL }}" {{ if and ( isset . "Name" ) ( ne .Name "" ) }} title="{{ .Name }}"{{ end }}>
          {{ .Pre }}
          {{ .Name }}
        </a>
    {{ end }}
      </nav>
  <div class="header-actions">
    <form class="search" id="search" method="get" action="//google.com/search">
      <label for="search_input">
          <input id="search_input" type="text" name="q" placeholder="Search with Google">
          <input type="hidden" name="as_sitesearch" value="{{ .Site.BaseURL }}">
      </label>
    </form>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="nav-item">
        <a class="nav-link {{if $currentPage.IsMenuCurrent "main" . }}active{{end}}" href="{{ .URL | absLangURL }}" {{ if and ( isset . "Name" ) ( ne .Name "" ) }} title="{{ .Name }}"{{ end }}>
          {{ .Pre }}
          {{ .Name }}
        </a>
    </li>
    {{ end }}
  </ul>
</nav>
