<div class="content-container">
    <div class="content-area col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      {{ partial "bloc/content/h1-title.html" . }}
      <div class="clr-row">
        {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
          {{ partial "bloc/content/clarity-card.html" . }}
        {{ end }}
      </div><!--./card-columns-->
      {{ partial "bloc/content/pagination.html" . }}
    </div><!-- /.content-area -->
    {{ if .Site.Params.clarityNavSidebar }}
    {{ partial "bloc/content/clarity-navigation.html" . }}
    {{ end }}
</div><!-- /.content-container -->